---
layout: default
---

<section class="posts">

<h2>2020 - 2023</h2>
<ul>
    {% for post in site.tags.time2 %}
    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m" }}</time></li>
    {% endfor %}
    </ul>
<ul>

<h2>2015 - 2019</h2>
<ul>
    {% for post in site.tags.time1 %}
    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m" }}</time></li>
    {% endfor %}
    </ul>
<ul>

<h2>Competitions</h2>
<ul>
    {% for post in site.tags.competitions %}
    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m" }}</time></li>
    {% endfor %}
    </ul>
<ul>

<h2>Publication and Patents</h2>
<ul>
    {% for post in site.tags.publication_patents %}
    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m" }}</time></li>
    {% endfor %}
    </ul>
<ul>

</section>

<h2>Etc&Link</h2>
<ul>
   
    <li><a href="https://github.com/jaewoo-so">Github</a></li>
    <li><a href="http://report.jaewoo-so.online/">SR Report generating</a></li>
    <li><a href="https://github.com/jaewoo-so/ML_LIB">ML Lib : Data-science Competitions Toolkit/a></li>
    <li><a href="https://github.com/jaewoo-so/SpeedyCoding">[C#] Functional Programing Toolkit</a></li>
    <li><a href="http://report.jaewoo-so.online/">[C#] Graph Based Image Segmentation Implement</a></li>
    
    </ul>
<ul>