---
layout: default
---

<section class="posts">

<h2>2020 - 2023</h2>
<ul>
    {% for post in site.tags.time2 %}
    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m" }}</time></li>
    {% endfor %}
    </ul>
<ul>

<h2>2015 - 2019</h2>
<ul>
    {% for post in site.tags.time1 %}
    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m" }}</time></li>
    {% endfor %}
    </ul>
<ul>

<h2>Competitions</h2>
<ul>
    {% for post in site.tags.competitions %}
    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m" }}</time></li>
    {% endfor %}
    </ul>
<ul>

<h2>Publication and Patents</h2>
<ul>
    {% for post in site.tags.publication_patents %}
    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m" }}</time></li>
    {% endfor %}
    </ul>
<ul>

</section>

